
* {
    margin:  0 auto;
    padding: 0;
}

body {
    background-color: whitesmoke;
    opacity: 0.95;
    font-family: "Instrument Sans", sans-serif;

}

.h1__title{
    color: black;
    text-align: left;
    
    
    
}

.container {
    display: flex;
    margin: 2rem;
    padding: 2rem;
  
}

.text__container {
    text-align: justify;
    margin: 5rem;
    font-size: 1.4em;
    position: absolute;
    padding-bottom: 1rem;
    
  
}

.img__container {



}

.img__img1__container {
position: relative;
left: 100%;
top: 15%;

}
.img__img2__container {
    position: relative;
    left: 90%;
    
}

.article__containers {
    background-color: black;
    opacity: 0.9;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    border-radius: 1.5rem 1.5rem;
    font-size: 1.25rem;
    padding: 3rem;
    margin-top: 8rem;

  
  }


.article__containers__text {
color: white;
}

svg {
    width: 10%;
  height: auto;
  margin-top: 1.4rem;
}

.text__bottom__container {
    padding: 1.2rem;
    margin: 3rem;
    width: 9.3rem;
    border-radius: 2.18rem 2.18rem;
    background-color: black;
    color: white;
    opacity: 0.8;
    font-size: 1.25em;
  
}